.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    position: fixed;
    z-index: -1;
    filter: brightness(70%);
}

.hero-content {
    color: #fff
}

.hero-header {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-subHeader {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}