.search-container {
    display: grid;
    place-items: center;
    grid-template-columns: 30px 1fr;
    background-color: #fff;
}

.search-input {
    width: 800px;
    line-height: 20px;
    padding: 10px;
    border: none;
}